@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*CSS HEADER*/

header{
    display: flex;
    justify-content: center;
    text-align: center;
}

#nav-search{
    width: max-content;
    display: flex;
    padding: 0.5rem;
    border-radius: 28px;
    background-color: #f6f6f6;
    border: 1px solid #000;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
} 

#nav-search i{
    padding: 5px;

}

.search-input {
    font-size: 16px;
    color: #000;
    margin-right: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 260px;
}

ul{
    padding: 0;
}

.pages{
    list-style: none;
    padding: 1rem;
}

.pages a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.pages a:hover{
    text-decoration: underline;
}

#logo {
    text-decoration: none;
    color: #000;
    font-size: 50px;
    font-weight: 600;

}

#nav-ikoner{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

#nav-ikoner a{
    color: #000;
    text-decoration: none;
    font-size: 24px;
}

#nav-ikoner a:hover i {
    transform: translateY(-5px) rotate(5deg);
    transition: transform 0.3s ease;
}

/*CSS INDEX*/

#banner-1{
    background-image: url('https://picsum.photos/1200/600');
    padding: 6rem 2rem;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: right;
    margin: 1rem;
}

#banner-1 h1{
    font-size: 50px;
}

#banner-1 p{
    font-size: 16px;
}

#banner-1 button{
    padding: 1rem;
    border: none;
    background-color: white;
    border-radius: 28px;
}

#banner-1 button:hover{
    background-color: #252525;
    color: white;
}

.arrows{
    display: none;
}

#banner-2 {
    display: none;
}

#banner-3 {
    display: none;
}

/* Fiks css, fjern main p. Gi p main class eller id*/
 
.p-cent{
    text-align: center;
    font-size: 16px;
    margin-bottom: 2rem;
}

.h2-cent{
    text-align: center;
    font-size: 40px;
}

#button-container{
    justify-content: center;
    gap: 1rem;
    display: flex;
    width: 100%;
}

#button-container button{
    padding: 1rem;
    font-size: 18px;
    text-align: center;
    border-radius: 48px;
    border: 1px solid rgb(148, 148, 148);
    background-color: white;
}

#button-container button:hover{
    background-color: #252525;
    color: white;
}

#button-container #selected-button{
        background-color: #252525 !important;
        color: white;
}

#button-container #selected-button:hover{
    background-color: #ffffff !important;
    color: rgb(0, 0, 0);
}

#pdisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.Product-card{
    max-width: 450px;
    width: 100%;
    margin-top: 2rem;
}

.Product-card img{
    width: 100%;
    height: auto;
    border-radius: 18px;
    display: block;
}

.image-container{
    position: relative;
    display: block;
    width: 100%;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.icon-overlay {
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 10;

}

.image-container i{
    color: white; 
    font-size: 20px;
    padding: 1rem; 
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 50%; 
    backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

.image-container i:hover{
    background-color: rgb(255, 112, 112, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

.plist{
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.pname{
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.pname:hover{
    text-decoration: underline;
}

.rating{
    margin-top: 2rem;
    text-align: left;
}

.rating a{
    font-weight: 600;
    margin-left: 10px;    
}

#category-section{
    margin-top: 5rem;
}

#category-section p{
    margin-bottom: 2rem;
}

#category-container{
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: 1fr minmax(250px, 800px) 1fr;
    grid-template-rows: repeat(6, 200px);
}

#category-container article {
    display: flex;
    justify-content: center;
    align-items: center;
}

#category-item-1{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-image: url(https://picsum.photos/id/604/1200/600?blur=5);
    border-radius: 18px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

#category-item-2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-image: url(https://picsum.photos/id/233/1200/600?blur=5);
    border-radius: 18px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

#category-item-large{
    grid-row: 3 / 5;
    grid-column: 2 / 3;
    background-image: url(https://picsum.photos/id/233/1200/600?blur=5);
    border-radius: 18px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

#category-item-4{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    background-image: url(https://picsum.photos/id/443/1200/600?blur=5);
    border-radius: 18px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

#category-item-5{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    background-image: url(https://picsum.photos/1200/600?blur=5);
    border-radius: 18px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

#reviews-heading {
    font-size: 40px;
}

#reviews .scroll-container {
    display: flex;
    gap: 1rem;
    overflow: scroll;
    scrollbar-color: #7a7a7a #e0e0e0; 
    overflow-y: hidden; 
}


#reviews .scroll-container article {
    min-width: 300px;
}

#reviews h2 {
    text-align: left;
    padding: 1rem;
    width: 100%;
}

.review-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card-header {
    display: flex;
    align-items: right;
}

.profile-image {
    margin: 0;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
}

.profile-deatils h3 {
    margin: 0;
    font-size: 18px;
}

.review-rating {
    text-align: left;
}

.review-rating span {
    margin-right: 5px; 
}

.review-text {
    text-align: left;
}

/*CSS FOOTER*/

footer {
    margin: 1rem;
    padding-top: 2rem;
    border-top: 1px solid #ddd;
}

#footer-logo {
    font-weight: 450; 
    font-size: 40px;
}

footer header{
    text-align: left;
}

footer header h2{
    font-size: 35px;
    width: 100%;
    margin: 0;
}

footer header p {
    max-width: 600px;
    margin: 0 auto;
}

footer section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.contact p {
    margin: 0; 
    margin-bottom: 10px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact address {
    font-style: normal;
}

.contact address i{
    margin-right: 0.5rem;
}

.contact h3{
    font-size: 24px;
    font-weight: 450;
}

#social-media-desktop {
    display: none;
}

#social-media-mobile {
    display: block;
}



footer aside {
    margin-left: 0.25rem;
}

aside h3 {
    font-size: 24px; 
    font-weight: 450; 
}

footer aside li{
    list-style: none;
    margin-bottom: 10px;
}

footer aside li a{
    text-decoration: none;
    color: #000;
}

footer nav {
    text-align: left;
}

footer nav ul {
    display: flex
}

footer nav li{
    list-style: none;
}

footer nav li a{
    font-size: 25px;
    color: #000;
    margin-right: 1.5rem;
}

nav h3{
    font-size: 24px; 
    font-weight: 450;
}


/*CSS CHECKOUT*/


#checkout main{
    margin: 1rem;
}

.continue-shopping{
    text-decoration: none;
    font-size: 18px;
}

.continue-shopping:hover{
    text-decoration: underline;
}

.shopping-bag {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.sb-headline {
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
}

.shopping-bag-image {
    max-width: 60%; 
    height: auto;
    padding-top: 2rem;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.product-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.product-info h3{
    margin: 0;
}

.product-info p{
    margin: 0;
    text-align: left;
}

.size-quantity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom:1rem;
}

.size{
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #d4d4d4;
}


.quantity{
    padding: 0.5rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-buttons i{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-right: 1rem;
}

.icon-buttons i:hover{
    transform: translateY(-5px) rotate(5deg);
    transition: transform 0.3s ease;
}

.personal-info{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 2rem;
}

.delivery-adress h3{
    text-align: left;
}

.info-input{
    width: 100%;
    padding: 1rem;
    
}

.delivery-adress form p{
    margin: 0;
    text-align: left;
    font-weight: 500;
    margin-top: 0.5rem;
}

.contact-info h3 {
    padding-top: 4rem;
}

.contact-info form p{
    margin: 0;
    text-align: left;
    font-weight: 500;
    margin-top: 0.5rem;
}

.black-btn{
    display: inline-block;
    padding: 1rem;
    color: #fff;
    background-color: #343434;
    border: 1px solid #343434;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

#buttons{
    padding-top: 4rem;
}

.black-btn:hover{
    background-color: #fff;
    border: 1px solid #343434;
    color: #000;
}

#cancel {
    display: inline-block;
    padding: 2rem;
    width: 100%;
    text-decoration: underline !important;
    text-align: center;
    color: blue;
}

#cancel:hover{
    color: purple;
}

.delivery{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 2rem;
}

.delivery h3{
    padding-top: 2rem;
    margin: 0;
}

.delivery-card{
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 2rem;
}

.delivery-card label{
    display: flex;
    gap: 0.5rem;
}

.bold-text{
    margin: 0;
    font-weight: 600;
    font-style: normal;
}

.working-days {
    color: gray;
    font-weight: 600;
}

.payment{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 2rem;
}

.payment-info form p{
    margin: 0;
    text-align: left;
    font-weight: 500;
    margin-top: 0.5rem;
}

.finish-payment{
    text-align: center;
}

#top-border{
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

#checkbox{
    display: flex;
    justify-content: center;
}

.checkbox-text{
    width: 100%;
    padding: 1rem;
}

.checkbox-text i{
    font-style: normal;
}

/*CSS PRODUCTS*/

#products main {
    margin: 1rem;
}

#website-path {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#p-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 1fr;
    gap: 1rem;
}

#p-grid-container img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}


#image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#image2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#image3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#image4 {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

#name-brand-color h3{
    font-size: 24px;
}

#brand-text{
    text-transform: uppercase;
    color: gray;
    text-decoration: underline;
}

#product-size {
    padding: 1rem;
    width: 100%;
}

#product-buttons {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 1rem;
}


#black-btn2 {
    display: inline-block;
    padding: 1rem;
    color: #fff;
    background-color: #000000;
    border: 1px solid #000000;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

#black-btn2:hover{
    background-color: #fff;
    border: 1px solid #000000;
    color: #000;
}

.fa-btn{
    padding: 1rem;
    font-size: 20px;
    color: #000;
    border: 1px solid #000000;
}

.fa-btn:hover{
    background-color: #000;
    color: white;
}

.border {
    border-top: 1px solid #000000;
}

#materials {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

details summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

details summary i{
    font-style: normal;
}

#materials ul {
    padding: 1rem;
}

#pdetails {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#sdetails {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#previews {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#review-container {
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*MEDIA QUERIES*/

@media (min-width: 700px){

    /*HEADER*/

    header nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*BANNER*/

    #banner-text-1 {
        padding-left: 50%;
    }

    #banner-1 button {
        text-transform: uppercase;
        font-weight: 600;
    }

    /*MAIN*/

    .Product-card{
        max-width: 450px;
    }

    #category-section {
        margin: 1rem;
    }

    #category-container{
        display: grid;
        grid-gap: 1rem 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
        width: 100%;
    }
    
    #category-container article {
        display: flex;
        text-align: center;
    }
    
    #category-item-1{
        display: block;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        background-image: url(https://picsum.photos/id/604/1200/600?blur=5);
        opacity: 0.75;
    }
    
    #category-item-2{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        background-image: url(https://picsum.photos/id/233/1200/600?blur=5);
        opacity: 0.75;
    }
    
    #category-item-large{
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        height: auto;
        background-image: url(https://picsum.photos/id/323/1200/600?blur=5);
        opacity: 0.75;
    }
    
    #category-item-4{
        grid-row: 2 / 4;
        grid-column: 1 / 3;
        background-image: url(https://picsum.photos/id/443/1200/600?blur=5);
        opacity: 0.75;
        height: auto;
        width: auto;
    }
    
    #category-item-5{
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        background-image: url(https://picsum.photos/id/543/1200/600?blur=5);
        opacity: 0.75;
    }

    /*FOOTER*/

    #social-media-desktop {
        display: block;
    }

    #social-media-mobile {
        display: none;
    }

    footer {
        padding-bottom: 5rem;
    }

    /*CHECKOUT*/

   

}

@media (min-width: 850px){

    /*HEADER*/

    .continue-shopping{
        text-decoration: none;
        font-size: 22px;
    }

    #headline-checkout {
        font-size: 40px;
        text-align: center;
    }

    /*MAIN*/

    .sb-headline {
        font-size: 30px;
        padding-top: 1rem;
    }


    .shopping-bag {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        padding-left: 20%;
        padding-bottom: 3%;
        padding-top: 3%;
    }

    .shopping-bag-image {
        max-width: 30%; 
        padding: 0;
    }

    .sb-card {
        display: flex;
        align-items: center;
    }

    .product-text {
        padding: 2rem;
        font-size: 18px;
    }
    
    .size-quantity {
        padding-bottom: 2rem;
        padding-left: 2rem;
        font-size: 18px;
    }

    .icon-buttons {
        display: flex;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .icon-buttons i {
        font-size: 22px;
    }

    .personal-info {
        padding: 0;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    

    #name-fields {
        gap: 1rem;
        display: flex;
    }

    #name-fields article {
        flex: 1;
    }

    #mail-info {
        gap: 1rem;
        display: flex;
    }

    #mail-info article {
        flex: 1;
    }

    .delivery {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #payment-fields {
        gap: 1rem;
        display: flex;
    }

    #payment-fields article {
        flex: 1;
    }

    .payment {
        padding: 0;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

}

@media (min-width: 1100px){

    /*HEADER*/

    body {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }

    header {
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
    }

    #logo {
        align-self: center !important;
    }


    header nav{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 1rem;
    }
    

    /*BANNER*/

    #slide-banner {
        background-image: none;
        padding: 0;
        margin: 1rem;
        display: flex; 
        overflow-x: scroll;        
        scroll-snap-type: x mandatory; 
        -webkit-overflow-scrolling: touch; 
        scroll-behavior: smooth; 
    }

    #banner-1 {
        display: block;
        background-image: url('https://picsum.photos/1200/600');
        padding: 8rem 3rem;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
        text-align: right;
    }


    #banner-2 {
        display: block;
        background-image: url('https://picsum.photos/1200/600');
        padding: 8rem 3rem;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
        text-align: left;
        margin: 1rem; 
    }

    #banner-2 h1{
        font-size: 50px;
    }
    
    #banner-2 p{
        font-size: 16px;
    }
    
    #banner-2 button{
        padding: 1rem;
        border: none;
        background-color: white;
        border-radius: 28px;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #252525;
        color: white;
    }
    
    #banner-2 button:hover{
        background-color: white;
        color: #252525
    }

    #banner-3 {
        display: block;
        background-image: url('https://picsum.photos/1200/600');
        padding: 8rem 3rem;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
        text-align: right;
        margin: 1rem; 
    }

    #banner-3 h1{
        font-size: 50px;
    }
    
    #banner-3 p{
        font-size: 16px;
    }
    
    #banner-3 button{
        padding: 1rem;
        border: none;
        background-color: white;
        border-radius: 28px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    #banner-3 button:hover{
        background-color: #252525;
        color: white;
    }
    
    #slide-banner article {
        min-width: 100%; 
        scroll-snap-align: center; 
    }

    .scroll-container {
        width: 100%; 
        overflow-x: auto; 
    }

    #banner-1 button {
        text-transform: uppercase;
        font-weight: 600;
    }

    #banner-text-1 {
        padding-left: 50%;
    }

    #banner-text-2 {
        padding-right: 50%;
    }

    #banner-text-3 {
        padding-left: 50%;
    }

    #pdisplay {
        margin: 0;
    }

    .Product-card{
        max-width: 450px;
    }

    #category-section {
        margin: 1rem;
    }

    #category-container{
        display: grid;
        grid-gap: 1rem 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
        width: 100%;
    }
    
    #category-container article {
        display: flex;
        text-align: center;
    }
    
    #category-item-1{
        display: block;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        background-image: url(https://picsum.photos/id/604/1200/600?blur=5);
        opacity: 0.75;
    }
    
    #category-item-2{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        background-image: url(https://picsum.photos/id/233/1200/600?blur=5);
        opacity: 0.75;
    }
    
    #category-item-large{
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        height: auto;
        background-image: url(https://picsum.photos/id/323/1200/600?blur=5);
        opacity: 0.75;
    }
    
    #category-item-4{
        grid-row: 2 / 4;
        grid-column: 1 / 3;
        background-image: url(https://picsum.photos/id/443/1200/600?blur=5);
        opacity: 0.75;
        height: auto;
        width: auto;
    }
    
    #category-item-5{
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        background-image: url(https://picsum.photos/id/543/1200/600?blur=5);
        opacity: 0.75;
    }

    #reviews {
        margin: 1rem;
    }

    /*FOOTER*/
    footer {
        margin: 1rem;
        padding-bottom: 5rem;
    }

    #social-media-desktop {
        display: block;
    }

    #social-media-mobile {
        display: none;
    }

    /*CHECKOUT*/

    /*HEADER*/

    .continue-shopping{
        text-decoration: none;
        font-size: 22px;
    }

    #headline-checkout {
        font-size: 40px;
        text-align: center;
    }

    /*MAIN*/

    .sb-headline {
        font-size: 30px;
        padding-top: 1rem;
    }


    .shopping-bag {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        padding-left: 20%;
        padding-bottom: 3%;
        padding-top: 3%;
    }

    .shopping-bag-image {
        max-width: 30%; 
        padding: 0;
    }

    .sb-card {
        display: flex;
        align-items: center;
    }

    .product-text {
        padding: 2rem;
        font-size: 18px;
    }
    
    .size-quantity {
        padding-bottom: 2rem;
        padding-left: 2rem;
        font-size: 18px;
    }

    .icon-buttons {
        display: flex;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .icon-buttons i {
        font-size: 22px;
    }

    .personal-info {
        padding: 0;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    

    #name-fields {
        gap: 1rem;
        display: flex;
    }

    #name-fields article {
        flex: 1;
    }

    #mail-info {
        gap: 1rem;
        display: flex;
    }

    #mail-info article {
        flex: 1;
    }

    .delivery {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #payment-fields {
        gap: 1rem;
        display: flex;
    }

    #payment-fields article {
        flex: 1;
    }

    .payment {
        padding: 0;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 3%;
        padding-bottom: 3%;
    }



}